
{#
    Filename    : carmelite-priests.html.twig
    Location    : application/views/basilica/carmelite-priests.html.twig
    Purpose     : Carmelite priest partial
    Created     : 6/03/2019 by Sherlock Holmes
    Updated     : 2019-07-02 14:14:39 by Scarlet Witch 
    Changes     : Delete the Archbishop under pastors
#}

{% extends 'base.html.twig' %}
{% block title %} {{ page_title }} | Mount Carmel {% endblock %}
{% block contents %}
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">Priests</h3>
                </div>
                <div class="card-body">
                    <div class="col-12 mb-5">
                        <div class="row">
                            <div class="col-12 col-md-3 offset-md-3 text-center">
                                <figure class="figure">
                                    <img class="figure-img img-fluid rounded-circle" src="{{ base_url('public/assets/img/photos/Fr_Alan_Rieger.png') }}" alt="FR. ALAN RIEGER, OCD">
                                    <figcaption class="figure-caption">
                                        <span class="figure-title text-uppercase">FR. ALAN RIEGER, OCD</span>
                                        <br/>Superior
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-12 col-md-3 text-center">
                                <figure class="figure">
                                    <img class="figure-img img-fluid rounded-circle" src="{{ base_url('public/assets/img/photos/Fr_Joey_Mabborang.jpg') }}" alt="FR. JOEY D. MABBORANG, OCD">
                                    <figcaption class="figure-caption">
                                        <span class="figure-title text-uppercase">FR. JOEY D. MABBORANG, OCD</span>
                                        <br/>Parish Priest / Shrine Rector
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-5">
                        <div class="row">
                            <div class="col-12 col-md-3 offset-md-3 text-center">
                                <figure class="figure">
                                    <img class="figure-img img-fluid rounded-circle" src="{{ base_url('public/assets/img/photos/Fr_Hernani_Anis.jpg') }}" alt="FR. HERNANI AÑIS, OCD">
                                    <figcaption class="figure-caption">
                                        <span class="figure-title text-uppercase">FR. HERNANI AÑIS, OCD</span>
                                        <br/>Parochial Vicar  for the Parish
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-12 col-md-3 text-center">
                                <figure class="figure">
                                    <img class="figure-img img-fluid rounded-circle" src="{{ base_url('public/assets/img/photos/Fr_Ransom_Rapirap.png') }}" alt="FR. RANSOM RAPIRAP, OCD">
                                    <figcaption class="figure-caption">
                                        <span class="figure-title text-uppercase">FR. RANSOM RAPIRAP, OCD</span>
                                        <br/>Parochial Vicar for the National Shrine
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-5">
                        <div class="row">
                            <div class="col-12 col-md-3 text-center">
                                <figure class="figure">
                                    <img class="figure-img img-fluid rounded-circle" src="{{ base_url('public/assets/img/photos/Fr_Chito_Reyes.png') }}" alt="FR. NARCISO “CHITO” REYES, OCD">
                                    <figcaption class="figure-caption">
                                        <span class="figure-title text-uppercase">FR. NARCISO “CHITO” REYES, OCD</span>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-12 col-md-3 text-center">
                                <figure class="figure">
                                    <img class="figure-img img-fluid rounded-circle" src="{{ base_url('public/assets/img/photos/Fr_Alex_Collera.jpg') }}" alt="FR. ALEX COLLERA, OCD">
                                    <figcaption class="figure-caption">
                                        <span class="figure-title text-uppercase">FR. ALEX COLLERA, OCD</span>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-12 col-md-3 text-center">
                                <figure class="figure">
                                    <img class="figure-img img-fluid rounded-circle" src="{{ base_url('public/assets/img/photos/Fr_Bing_Madelo.jpg') }}" alt="FR. ANGELO “BING” MADELO, OCD">
                                    <figcaption class="figure-caption">
                                        <span class="figure-title text-uppercase">FR. ANGELO “BING” MADELO, OCD</span>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-12 col-md-3 text-center">
                                <figure class="figure">
                                    <img class="figure-img img-fluid rounded-circle" src="{{ base_url('public/assets/img/photos/Fr_Benedick_Piangco.jpg') }}" alt="FR. BENEDICK PIANGCO, OCD">
                                    <figcaption class="figure-caption">
                                        <span class="figure-title text-uppercase">FR. BENEDICK PIANGCO, OCD</span>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-5">
                        <div class="row">
                            <div class="col-12 col-md-3 offset-md-3 text-center">
                                <figure class="figure">
                                    <img class="figure-img img-fluid rounded-circle" src="{{ base_url('public/assets/img/photos/Rev_Nguyen_Vinh.jpg') }}" alt="REV. NGUYEN CONG VINH, OCD (REV. PAUL)">
                                    <figcaption class="figure-caption">
                                        <span class="figure-title text-uppercase">REV. NGUYEN CONG VINH, OCD (REV. PAUL)</span>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-12 col-md-3 text-center">
                                <figure class="figure">
                                    <img class="figure-img img-fluid rounded-circle" src="{{ base_url('public/assets/img/photos/Bro_Porferio_Nalzaro.jpg') }}" alt="BRO. PORFERIO NALZARO, OCD">
                                    <figcaption class="figure-caption">
                                        <span class="figure-title text-uppercase">BRO. PORFERIO NALZARO, OCD</span>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">Pastors</h3>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-6 text-right">Fr. Joey Maborrang</dt>
                        <dd class="col-sm-6">OCD (2014-present)</dd>

                        <dt class="col-sm-6 text-right">Fr. Dan Lim</dt>
                        <dd class="col-sm-6">OCD (2011-2014)</dd>

                        <dt class="col-sm-6 text-right">Fr. Alex Collera</dt>
                        <dd class="col-sm-6">OCD (2008-2011)</dd>

                        <dt class="col-sm-6 text-right">Fr. Arnie Boehme</dt>
                        <dd class="col-sm-6">OCD (2006-2008)</dd>

                        <dt class="col-sm-6 text-right">Fr. Paulo Gamboa</dt>
                        <dd class="col-sm-6">OCD (2005-2006)</dd>

                        <dt class="col-sm-6 text-right">Fr. Mariano Agruda</dt>
                        <dd class="col-sm-6">OCD (1999-2005)</dd>

                        <dt class="col-sm-6 text-right">Fr. Alex Collera</dt>
                        <dd class="col-sm-6">OCD (1996 -1999)</dd>

                        <dt class="col-sm-6 text-right">Fr. Angelo Madelo</dt>
                        <dd class="col-sm-6">OCD (1993-1996)</dd>

                        <dt class="col-sm-6 text-right">Fr. Rolando Tria-Tirona</dt>
                        <dd class="col-sm-6">D.D. (1990-1993)</dd>

                        <dt class="col-sm-6 text-right">Fr. Paul O'Sullivan</dt>
                        <dd class="col-sm-6">OCD (1988-1990)</dd>

                        <dt class="col-sm-6 text-right">Fr. Michael Fitzgerald</dt>
                        <dd class="col-sm-6">OCD+ (1987-1988)</dd>

                        <dt class="col-sm-6 text-right">Fr. Paul Sullivan</dt>
                        <dd class="col-sm-6">OCD (1984-1987)</dd>

                        <dt class="col-sm-6 text-right">Fr. Rolando Tria-Tirona</dt>
                        <dd class="col-sm-6">D.D. (1981-1984)</dd>

                        <dt class="col-sm-6 text-right">Fr. Tom Shanahan</dt>
                        <dd class="col-sm-6"> OCD (1978-1981)</dd>

                        <dt class="col-sm-6 text-right">Fr. Paul O'Sullivan</dt>
                        <dd class="col-sm-6">OCD (1975-1978)</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}