{#
    Filename    : index.html.twig
    Location    : application/views/help/index.html.twig
    Purpose     : Send help partial page
    Created     : 06/03/2019 23:00:04 by Spiderman
    Updated     : 07/17/2019 22:59:49 by Spiderman
    Changes     : Refactor UI
#}

{% extends 'base.html.twig' %}
{% block title %} {{ page_title }} | Mount Carmel {% endblock %}
{% block contents %}
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <div class="row">
                <div class="col-12 p-0" style="height: 400px; background: url({{ base_url('public/assets/images/photos/mtcarmel1.jpg') }}) no-repeat top; background-size: cover;">
                    <div class="card border border-0 h-100" style="background-color: rgba(255, 255, 255, .75);">
                        <div class="card-body d-flex flex-column">
                            <div class="mt-auto text-center">
                                <img class="mb-2" src="{{ base_url('public/assets/images/brands/mount-carmel-logo.svg') }}" width="100px" alt="Mount Carmel Logo"/>
                                <h5 class="card-title mb-2">Mt. Carmel Shrine</h5>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula fermentum auctor.<br/>
                                    Aliquam pretium pretium est, ac suscipit felis tincidunt at. Suspendisse hendrerit, dolor sed imperdiet dictum, nibh sem condimentum metus, eget gravida est augue non
                                </p>
                                <button type="submit" class="btn btn-brown btn-lg rounded-pill px-5">Send Help</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-6 p-0" style="height: 200px; background: url({{ base_url('public/assets/images/photos/care-fund.jpg') }}) no-repeat center; background-size: cover;">
                            <div class="card border border-0 h-100" style="background-color: rgba(255, 255, 255, .10);">
                                <div class="card-body d-flex flex-column">
                                    <div class="mt-auto text-center">
                                        <button type="submit" class="btn btn-brown rounded-pill px-3">Send Help</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 p-0" style="height: 200px; background: url({{ base_url('public/assets/images/photos/scholastic.jpg') }}) no-repeat center; background-size: cover;">                           
                            <div class="card border border-0 h-100" style="background-color: rgba(255, 255, 255, .10);">
                                <div class="card-body d-flex flex-column">
                                    <div class="mt-auto text-center">
                                        <button type="submit" class="btn btn-brown rounded-pill px-3">Send Help</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 p-0" style="height: 200px; background: url({{ base_url('public/assets/images/photos/xmas-gift.jpg') }}) no-repeat center; background-size: cover;">                           
                            <div class="card border border-0 h-100" style="background-color: rgba(255, 255, 255, .10);">
                                <div class="card-body d-flex flex-column">
                                    <div class="mt-auto text-center">
                                        <button type="submit" class="btn btn-brown rounded-pill px-3">Send Help</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 p-0" style="height: 200px; background: url({{ base_url('public/assets/images/photos/feeding-program.jpg') }}) no-repeat center; background-size: cover;">                           
                            <div class="card border border-0 h-100" style="background-color: rgba(255, 255, 255, .10);">
                                <div class="card-body d-flex flex-column">
                                    <div class="mt-auto text-center">
                                        <button type="submit" class="btn btn-brown rounded-pill px-3">Send Help</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 p-0" style="height: 200px; background: url({{ base_url('public/assets/images/photos/noche-buena.png') }}) no-repeat center; background-size: cover;">                           
                            <div class="card border border-0 h-100" style="background-color: rgba(255, 255, 255, .10);">
                                <div class="card-body d-flex flex-column">
                                    <div class="mt-auto text-center">
                                        <button type="submit" class="btn btn-brown rounded-pill px-3">Send Help</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 p-0" style="height: 200px; background: url({{ base_url('public/assets/images/photos/mtcarmel1.jpg') }}) no-repeat center; background-size: cover;">                           
                            <div class="card border border-0 h-100" style="background-color: rgba(255, 255, 255, .10);">
                                <div class="card-body d-flex flex-column">
                                    <div class="mt-auto text-center">
                                        <button type="submit" class="btn btn-brown rounded-pill px-3">Send Help</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_scripts %}
{% endblock %}