{#
    Filename    : base.html.twig
    Location    : application/views/admin/base.html.twig
    Purpose     : Admin base template
    Created     : 06/27/2019 16:45:42 by Spiderman
    Updated     : 07/04/2019 16:45:31 by Spiderman
    Changes     : Add notif modal
#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Mount Carmel System">
    <meta name="author" content="Bicol Research">
    <title>{% block title %}Mount Carmel{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ base_url('public/assets/css/style.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
<div class="wrapper" id="user" data-user-id="{{ user.id }}">
    {% block sidebar %}
        <nav class="sidebar sidebar-sticky">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="{{ base_url('admin') }}">
                    <div class="logo">
                        <img src="{{ base_url('public/assets/images/brands/mount-carmel-logo.svg') }}" alt="Mount Carmel Logo"/>
                    </div>
                    <div class="logo-text">
                        <div class="title">Mount Carmel</div>
                        <div class="address">Quezon City, Philippines</div>
                    </div>
                </a>
                <ul class="sidebar-nav">
                    <li class="sidebar-item active">
                        <a href="#management" data-toggle="collapse" class="sidebar-link collapsed">
                            <i class="align-middle icon-management icon-18"></i> <span class="align-middle">Management</span>
                        </a>
                        <ul id="management" class="sidebar-dropdown list-unstyled collapse">
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('admin/posts') }}">Posts</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('admin/ads') }}">Advertisements</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('admin/media') }}">Media</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    {% endblock %}
    <div class="main">
        {% block navbar %}
            <nav class="navbar navbar-expand navbar-light bg-white">
                <a class="sidebar-toggle d-flex mr-2">
                    <i class="hamburger align-self-center"></i>
                </a>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle mr-0 pr-0 profile" href="javascript:void(0)" data-toggle="dropdown">
                                <!-- This is where the avatar load -->
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="{{ base_url('auth/logout') }}" target="_self">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        {% endblock %}
        <main class="content">
            <div class="container-fluid p-0">
                {% block contents %}
                    {# This is where the partial page load #}
                {% endblock %}
            </div>
        </main>
    </div>
</div>

{% block createModal %}
    <div class="modal fade" id="create" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="createModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="createModalTitle">Add New</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                {% block createModalForm %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block updateModal %}
    <div class="modal fade" id="update" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="updateModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="updateModalTitle">Update</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                {% block updateModalForm %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block deleteModal %}
    <div class="modal fade" id="delete" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="deleteModalTitle">Delete</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <form id="delete-form">
                    <input type="hidden" name="id">
                    <div id="ajax-preloader"></div>
                    <div class="modal-body p-5">
                        <p class="text-center m-0">
                            <!-- Notif message --> 
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-lg btn-danger rounded-pill px-5 btn-change-state">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block notif %}
    <div class="modal fade" id="notif" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="deleteModalTitle">Notification</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div id="ajax-preloader"></div>
                <div class="modal-body p-5">
                    <p class="text-center m-0">
                        <!-- Notif message --> 
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ base_url('public/assets/js/app.js') }}"></script>
    <script src="{{ base_url('public/assets/js/pace.min.js') }}"></script>
    <script>
        $(function () {

            let baseURL = location.origin.toLowerCase() + '/mountcarmel.web';
            let apiURL = location.origin.toLowerCase() + '/mountcarmel.api';

            let app = {
                init: function() {
                    this.avatar();
                },
                // GET: Avatar
                avatar: function() {

                    let el = $('#user');
                    let id = el.data('user-id');
                    let data = el.serialize();

                    $.ajax({
                        url: baseURL + '/admin/profile/id/' + id,
                        type: 'GET',
                        dataType: 'json',
                        data: data,
                        cache: false,
                        processData: false,
                        success: function (data) {
                            if (data) {
                                el.find('.profile').append(
                                    '<img class="img-fluid rounded-circle mr-1 avatar" src="' + apiURL +'/'+ data.avatar + '" alt="' + data.first_name + ' ' + data.last_name + '" />'
                                );
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log('The following error occurred: ' + textStatus, errorThrown);
                        }
                    });
                }
            }

            app.init();
        })
    </script>
{% endblock %}

{% block custom_scripts %}
    {# This is where the custom scripts load #}
{% endblock %}
</body>
</html>