{#
    Filename    : historym.html.twig
    Location    : application/views/admin/history.html.twig
    Purpose     : History page, , Implemented GET, POST, and PUT methods
    Created     : 2019-07-22 11:36:22 by Scarlet Witch 
    Updated     : 07/25/2019 13:25:41 by Scarlet Witch
    Changes     : Update the baseURL
#}


{% extends 'admin/base.html.twig' %}
{% block title %} {{ page_title }} | Mount Carmel {% endblock %}

{% block contents %}
    <div class="row">
        <div id="media" class="col-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="clearfix">
                        <form class="form-inline float-right mt-1 d-none d-md-flex">
                            <a class="btn btn-brown mr-2" data-toggle="modal" href="#create">
                                <i class="align-middle" data-feather="plus"></i> Add New
                            </a>
                            <a id="reload" class="btn btn-brown" href="javascript:void(0)">
                                <i class="align-middle" data-feather="rotate-ccw"></i> Reload
                            </a>
                        </form>
                        <h3 class="card-title mb-2">{{ page_title }}</h3>
                        <h4 class="card-subtitle">{{ page_subtitle }}</h4>
                    </div>
                </div>
                <div class="card-body">
                    <table id="datatables-basic" class="table table-striped" width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Titular</th>
                                <th>Posted on</th>
                                <th>Updated on</th>
                                <th>Author</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block createModalForm %}
    <form id="create-form">
        <div id="ajax-preloader"></div>
        <div class="modal-body px-5">
            <input type="hidden" name="id">
            <input type="hidden" name="content">
            <div class="form-group">
                <input type="text" class="form-control form-control-lg" id="titular" name="titular" value="{{ set_value('titular') }}" placeholder="Titular">
            </div>
            <div class="form-group">
                <input type="text" class="form-control form-control-lg" id="diocese" name="diocese" value="{{ set_value('diocese') }}" placeholder="Diocese">
            </div>
            <div class="form-group">
                <input type="text" class="form-control form-control-lg" id="date_of_establishment" name="date_of_establishment" value="{{ set_value('date_of_establishment') }}" placeholder="Date of Establishment">
            </div>
            <div class="form-group">
                <input type="text" class="form-control form-control-lg" id="feast_day" name="feast_day" value="{{ set_value('feast_day') }}" placeholder="Feast Day">
            </div>
            <div id="create-editor">
                <!--  WYSIWYG editor -->
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-lg btn-brown rounded-pill px-5 btn-change-state">Publish</button>
        </div>
    </form>
{% endblock %}

{% block updateModalForm %}
    <form id="update-form">
        <div id="ajax-preloader"></div>
        <div class="modal-body px-5">
            <input type="hidden" name="id">
            <input type="hidden" name="content">
            <div class="form-group">
                <input type="text" class="form-control form-control-lg" id="titular" name="titular" value="{{ set_value('titular') }}" placeholder="Titular">
            </div>
            <div class="form-group">
                <input type="text" class="form-control form-control-lg" id="diocese" name="diocese" value="{{ set_value('diocese') }}" placeholder="Diocese">
            </div>
            <div class="form-group">
                <input type="text" class="form-control form-control-lg" id="date_of_establishment" name="date_of_establishment" value="{{ set_value('date_of_establishment') }}" placeholder="Date of Establishment">
            </div>
            <div class="form-group">
                <input type="text" class="form-control form-control-lg" id="feast_day" name="feast_day" value="{{ set_value('feast_day') }}" placeholder="Feast Day">
            </div>
            <div id="update-editor">
                <!--  WYSIWYG editor -->
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-lg btn-brown rounded-pill px-5 btn-change-state">Update</button>
        </div>
    </form>
{% endblock %}

{% block custom_scripts %}
    <script>
        $(function () {

            //let baseURL = location.origin.toLowerCase() + '/mountcarmel.web';            
            let baseURL = location.origin.toLowerCase();
            let isProcessing = false;

            // GET: Display all
            let getAll = {
                init: function() {
                    this.display();
                    this.reloadList();
                },
                display: function() {

                    let el = $('#datatables-basic');

                    el.DataTable({
                        "processing": true,
                        "serverSide": false,
                        "ajax": {
                            "url": baseURL + "/admin/history/history",
                            "type": "GET"
                        },
                        "columns": [
                            {
                                "searchable": false,
                                "data": null
                            },
                            {"data": "titular"},
                            {
                                "data": "posted_on",
                                "mRender": function (data) {
                                    return data
                                }
                            },
                            {"data": "updated_on"},
                            {"data": "author"},
                            {
                                "searchable": false,
                                "data": "id",
                                "mRender": function (data) {
                                    return '<a data-toggle="modal" data-param="' + data + '" data-toggle="tooltip" data-placement="top" title="Update" href="#update"><i class="align-middle material-icons md-22">mode_edit</i></a>';
                                }
                            },
                            {
                                "searchable": false,
                                "data": "id",
                                "mRender": function (data) {
                                    return '<a data-toggle="modal" data-param="' + data + '" data-toggle="tooltip" data-placement="top" title="Delete" href="#delete"><i class="align-middle material-icons md-22">remove_circle_outline</i></a>';
                                }
                            }
                        ],
                        "lengthMenu": [[10, 25, 50, 75, 100], [10, 25, 50, 75, 100]],
                        "order": [[2, "desc"]],
                        "columnDefs": [
                            {"orderable": false, "targets": [0, 5, 6]}
                        ],
                        "fnCreatedRow": function (row, data, index) {
                            $('td', row).eq(0).html(index + 1);
                        },
                        "responsive": true,
                        "language": {
                            "decimal": "",
                            "emptyTable": "No data available in table",
                            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                            "infoEmpty": "Showing 0 to 0 of 0 entries",
                            "infoFiltered": "(filtered from _MAX_ total entries)",
                            "infoPostFix": "",
                            "thousands": ",",
                            "lengthMenu": "Show _MENU_ entries",
                            "loadingRecords": "Loading...",
                            "processing": "Processing...",
                            "search": "Search:",
                            "zeroRecords": "No matching records found",
                            "paginate": {
                                "first": "First",
                                "last": "Last",
                                "next": "Next",
                                "previous": "Previous"
                            },
                            "aria": {
                                "sortAscending": ": activate to sort column ascending",
                                "sortDescending": ": activate to sort column descending"
                            }
                        }
                    });
                },
                reloadList: function() {
                    $('#reload').on('click', function (e) {
                        $('#datatables-basic').DataTable().ajax.reload(null, true); // user paging will reset on reload				                                
                        e.preventDefault();
                    })
                }
            }

            // GET: Display by id
            let getById = {
                init: function() {
                    this.display();
                },
                display: function() {
                    $('#update').on('show.bs.modal', function (e) {
                        let el = $(this);

                        // Reset form
                        el.find('form').each(function() { this.reset() });
                        el.find('.form-control').removeClass('is-invalid');

                        let id = $(e.relatedTarget).data('param');
                        let data = el.serialize();

                        $.ajax({
                            url: baseURL + '/admin/history/historyh/id/' + id,
                            type: 'GET',
                            dataType: 'json',
                            data: data,
                            cache: false,
                            processData: false,
                            beforeSend: function () {
                                el.find('#ajax-preloader').html(
                                    '<div class="loader">' +
                                    '  <svg class="circular" viewBox="25 25 50 50">' +
                                    '    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>' +
                                    '  </svg>' +
                                    '</div>').show();
                            },
                            complete: function () {
                                el.find('#ajax-preloader').html(
                                    '<div class="loader">' +
                                    '  <svg class="circular" viewBox="25 25 50 50">' +
                                    '    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>' +
                                    '  </svg>' +
                                    '</div>').hide('fast');
                            },
                            success: function (data) {
                                if (data) {
                                    // Populate form
                                    el.find('input:hidden[name="id"]').val(data.id);
                                    el.find('input[name="titular"]').val(data.titular);
                                    el.find('input[name="diocese"]').val(data.diocese);
                                    el.find('input[name="date_of_establishment"]').val(data.date_of_establishment);
                                    el.find('input[name="feast_day"]').val(data.feast_day);
                                    el.find('.ql-editor').html(data.content);
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                console.log('The following error occurred: ' + textStatus, errorThrown);
                            }
                        });
                    });
                }
            }

            // POST: Add new history
            let create = {
                init: function() {
                    this.bindForm();
                },
                bindForm: function () {
                    $('#create').on('shown.bs.modal', this.submitForm(), function() {
                        // Reset form
                        $(this).find('form').each(function() { this.reset() });
                        $(this).find('.form-control').removeClass('is-invalid');
                        $(this).find('#create-editor').css({'border-color':'#ccc', 'border-top':'none'}); 
                        // Auto focus
                        $(this).find('input').trigger('focus');
                    });
                },
                submitForm: function() {
                    
                    // Initialize quill
                    let quill = new Quill('#create-editor', {
                        modules: { 
                            toolbar: [
                                [
                                    'bold', 'italic', 'underline', 'strike', 'link', {'list': 'ordered'}, {'list': 'bullet'},'blockquote','image', 'video','clean'
                                ]
                            ] 
                        },
                        theme: 'snow',
                        placeholder: 'Compose here'
                    });

                    // Prevent multiple ajax request
                    if (isProcessing) return;
                    isProcessing = true;

                    $('#create-form').on('submit', function(e){

                        let el = $(this);
                        let btn = el.find('.btn-change-state');
                        let content = el.find('input:hidden[name="content"]').val(quill.root.innerHTML);
                        let data = el.serialize();
                        
                        $.ajax({
                            url: baseURL + '/admin/history/create',
                            type: 'POST',
                            dataType: 'json',
                            data: data,
                            cache: false,
                            processData: false,
                            beforeSend: function () {
                                el.find('#ajax-preloader').html(
                                    '<div class="loader">' +
                                    '  <svg class="circular" viewBox="25 25 50 50">' +
                                    '    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>' +
                                    '  </svg>' +
                                    '</div>').show();
                                btn.attr('disabled', 'disabled');
                            },
                            complete: function () {
                                el.find('#ajax-preloader').html(
                                    '<div class="loader">' +
                                    '  <svg class="circular" viewBox="25 25 50 50">' +
                                    '    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>' +
                                    '  </svg>' +
                                    '</div>').hide('fast');
                                btn.removeAttr('disabled');
                            },
                            success: function (data) {
                                if (data.status === true) {
                                    // Reload datatables
                                    $('#datatables-basic').DataTable().ajax.reload(null, false); // user paging is not reset on reload

                                    // Hide this modal
                                    $('#create').modal('hide');

                                    // Show and append notif msg  
                                    $('#notif').modal('show').find('.modal-body p').text('A new history has been published');
                                    
                                    // Hide notif after (x) number of seconds 
                                    setTimeout(function(){ 
                                        $('#notif').modal('hide');
                                    }, 3000);
                                } else {
                                    // Form error
                                    (Boolean(data.titular)) ? el.find('#titular').addClass('is-invalid') : el.find('#titular').removeClass('is-invalid');
                                    (Boolean(data.diocese)) ? el.find('#diocese').addClass('is-invalid') : el.find('#diocese').removeClass('is-invalid');
                                    (Boolean(data.date_of_establishment)) ? el.find('#date_of_establishment').addClass('is-invalid') : el.find('#date_of_establishment').removeClass('is-invalid');
                                    (Boolean(data.feast_day)) ? el.find('#feast_day').addClass('is-invalid') : el.find('#feast_day').removeClass('is-invalid');
                                    (quill.editor.isBlank()) ? el.find('#create-editor').css({'border':'1px solid #f00'}) : el.find('#create-editor').css({'border-color':'#ccc', 'border-top':'none'});      

                                    // For debugging
                                    console.log(data.status);
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                console.log('The following error occurred: ' + textStatus, errorThrown);
                            }
                        });
                        e.preventDefault();
                    });
                }
            }

            // PUT: Update history
            let update = {
                init: function() {
                    this.bindForm();
                },
                bindForm: function () {
                    $('#update').on('show.bs.modal', this.submitForm(), function() {
                        // Reset form
                        $(this).find('form').each(function() { this.reset() });
                        $(this).find('.form-control').removeClass('is-invalid');
                    });
                },
                submitForm: function() {

                    // Initialize quill
                    let quill = new Quill('#update-editor', {
                        modules: { 
                            toolbar: [
                                [
                                    'bold', 'italic', 'underline', 'strike', 'link', {'list': 'ordered'}, {'list': 'bullet'},'blockquote','image', 'video','clean'
                                ]
                            ] 
                        },
                        theme: 'snow',
                        placeholder: 'Compose here'
                    });

                    $('#update-form').on('submit', function(e){
                        let el = $(this);
                        let btn = el.find('.btn-change-state');
                        let id = el.find('input:hidden[name="id"]').val();
                        let content = el.find('input:hidden[name="content"]').val(quill.root.innerHTML);
                        let data = el.serialize();
                    
                        $.ajax({
                            url: baseURL + '/admin/history/update/id/' + id,
                            type: 'PUT',
                            dataType: 'json',
                            data: data,
                            cache: false,
                            processData: false,
                            beforeSend: function () {
                                el.find('#ajax-preloader').html(
                                    '<div class="loader">' +
                                    '  <svg class="circular" viewBox="25 25 50 50">' +
                                    '    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>' +
                                    '  </svg>' +
                                    '</div>').show();
                                btn.attr('disabled', 'disabled');
                            },
                            complete: function () {
                                el.find('#ajax-preloader').html(
                                    '<div class="loader">' +
                                    '  <svg class="circular" viewBox="25 25 50 50">' +
                                    '    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>' +
                                    '  </svg>' +
                                    '</div>').hide('fast');
                                btn.removeAttr('disabled');
                            },
                            success: function (data) {
                                if (data.status === true) {
                                    // Reload datatables
                                    $('#datatables-basic').DataTable().ajax.reload(null, false); // user paging is not reset on reload

                                    // Hide this modal
                                    $('#update').modal('hide');

                                    // Show and append notif msg  
                                    $('#notif').modal('show').find('.modal-body p').text('History #' + id + ' has been updated');
                                    
                                    // Hide notif after (x) number of seconds 
                                    setTimeout(function(){ 
                                        $('#notif').modal('hide');
                                    }, 3000);
                                } else {
                                    // Form error
                                    (Boolean(data.titular)) ? el.find('#titular').addClass('is-invalid') : el.find('#titular').removeClass('is-invalid');
                                    (Boolean(data.diocese)) ? el.find('#diocese').addClass('is-invalid') : el.find('#diocese').removeClass('is-invalid');
                                    (Boolean(data.date_of_establishment)) ? el.find('#date_of_establishment').addClass('is-invalid') : el.find('#date_of_establishment').removeClass('is-invalid');
                                    (Boolean(data.feast_day)) ? el.find('#feast_day').addClass('is-invalid') : el.find('#feast_day').removeClass('is-invalid');
                                    (quill.editor.isBlank()) ? el.find('#update-editor').css({'border':'1px solid #f00'}) : el.find('#update-editor').css({'border-color':'#ccc'});   
                                
                                     // For debugging
                                    console.log(data.status);
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                // For debugging
                                console.log('The following error occurred: ' + textStatus, errorThrown);
                            }
                        });
                        e.preventDefault();
                    });
                }
            }

            // PUT: Delete history
            let softDelete = {
                init: function() {
                    this.bindForm();
                },
                bindForm: function () {
                    $('#delete').on('show.bs.modal', this.submitForm(), function(e){
                        $(this).find('#ajax-response').empty();
                        $(this).find('input:hidden[name="id"]').val($(e.relatedTarget).data('param'));
                        $(this).find('.modal-body p').text('Are you sure you want to delete history #' + $(e.relatedTarget).data('param') + '?');
                    });
                },
                submitForm: function() {
                    $('#delete-form').on('submit', function(e){
                        let el = $(this);
                        let btn = el.find('.btn-change-state');
                        let id = el.find('input:hidden[name="id"]').val();
                        let data = el.serialize();
                    
                        $.ajax({
                            url: baseURL + '/admin/history/delete/id/' + id,
                            type: 'PUT',
                            dataType: 'json',
                            data: data,
                            cache: false,
                            processData: false,
                            beforeSend: function () {
                                el.find('#ajax-preloader').html(
                                    '<div class="loader">' +
                                    '  <svg class="circular" viewBox="25 25 50 50">' +
                                    '    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>' +
                                    '  </svg>' +
                                    '</div>').show();
                                btn.attr('disabled', 'disabled');
                            },
                            complete: function () {
                                el.find('#ajax-preloader').html(
                                    '<div class="loader">' +
                                    '  <svg class="circular" viewBox="25 25 50 50">' +
                                    '    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>' +
                                    '  </svg>' +
                                    '</div>').hide('fast');
                                btn.removeAttr('disabled');
                            },
                            success: function (data) {
                                if (data.status === true) {
                                    // Reload datatables
                                    $('#datatables-basic').DataTable().ajax.reload(null, false); // user paging is not reset on reload

                                    // Hide this modal
                                    $('#delete').modal('hide');

                                    // Show and append notif msg  
                                    $('#notif').modal('show').find('.modal-body p').text('History #' + id + ' has been moved to trash');
                                    
                                    // Hide notif after (x) number of seconds 
                                    setTimeout(function(){ 
                                        $('#notif').modal('hide');
                                    }, 3000);
                                    
                                } else {
                                    // For debugging
                                    console.log(data.status);
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                // For debugging
                                console.log('The following error occurred: ' + textStatus, errorThrown);
                            }
                        });
                        e.preventDefault();
                    });
                }
            }

            // TODO: Multiple instance of quill
            let app = {
                init: function() {
                    this.wysiwyg();
                },
                wysiwyg: function() {
                    let containers = ['#create-editor', '#update-editor'];
        
                    let toolbarOptions = [
                        [
                            'bold', 
                            'italic', 
                            'underline', 
                            'strike', 
                            'link',
                            {'list': 'ordered'}, 
                            {'list': 'bullet' },
                            'blockquote',
                            'image', 
                            'video','clean'
                        ]
                    ];

                    let options = {
                        modules: { 
                            toolbar: toolbarOptions 
                        },
                        theme: 'snow',
                        placeholder: 'Compose here'
                    }

                    for(let i = 0; i <= containers.length; i++) {
                        let quill = new Quill(containers[i], options);
                    }
                }
            }

            getAll.init();
            getById.init();
            create.init();
            update.init();
            softDelete.init();
        })
    </script>
{% endblock %}