{#
    Filename    : media.twig
    Location    : application/views/admin/media.twig
    Purpose     : Media partial page
    Created     : 07/22/2019 16:54:47 by Spiderman
    Updated     : 
    Changes     : 
#}

{% extends 'admin/base.html.twig' %}

{% block title %} {{ page_title }} | Mount Carmel {% endblock %}

{% block contents %}
    <div class="row">
        <div id="media" class="col-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="clearfix">
                        <form class="form-inline float-right mt-1 d-none d-md-flex">
                            <a class="btn btn-brown mr-2" data-toggle="modal" href="#create">
                                <i class="align-middle" data-feather="plus"></i> Add New
                            </a>
                            <a id="reload" class="btn btn-brown" href="javascript:void(0)">
                                <i class="align-middle" data-feather="rotate-ccw"></i> Reload
                            </a>
                        </form>
                        <h3 class="card-title mb-2">{{ page_title }}</h3>
                        <h4 class="card-subtitle">{{ page_subtitle }}</h4>
                    </div>
                </div>
                <div class="card-body">
                    <table id="datatables-basic" class="table table-striped" width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th></th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Size</th>
                                <th>Modified</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block createModalForm %}
    <form id="create-form">
        <div id="ajax-preloader"></div>
        <div class="modal-body px-5">
            <div id="ajax-response"></div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ set_value('name') }}" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description" rows="2" maxlength="255"></textarea>
            </div>
            <div class="form-group">
                <label for="userfile">File Upload</label>
                <input type="file" class="form-control-file" id="userfile" name="userfile" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-lg btn-brown rounded-pill px-5 btn-change-state">Publish</button>
        </div>
    </form>
{% endblock %}

{% block updateModalForm %}
    <form id="update-form">
        <div id="ajax-preloader"></div>
        <div class="modal-body px-5">
            <input type="hidden" name="id">
            <div id="ajax-response"></div>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{ set_value('name') }}" />
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" name="description" rows="4" maxlength="255"></textarea>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div id="img-placeholder">
                        <!-- This is where the image preview load -->
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-lg btn-brown rounded-pill px-5 btn-change-state">Update</button>
        </div>
    </form>
{% endblock %}

{% block custom_scripts %}
    <script>
        $(function () {

            let baseURL = location.origin.toLowerCase() + '/mountcarmel.web';
            let apiURL = location.origin.toLowerCase() + '/mountcarmel.api';
            let isProcessing = false;

            // GET: Display all
            let getAll = {
                init: function() {
                    this.display();
                    this.reloadList();
                },
                display: function() {

                    let el = $('#datatables-basic');

                    el.DataTable({
                        "processing": true,
                        "serverSide": false,
                        "ajax": {
                            "url": baseURL + "/admin/media/media",
                            "type": "GET"
                        },
                        "columns": [
                            {
                                "searchable": false,
                                "data": "id"
                            },
                            {
                                "searchable": false,
                                "data": "full_path",
                                "mRender": function (data) {
                                    return '<img class="mx-auto d-block" src="' + apiURL + '/' + data + '" height="32px" alt="' + data + '" />';
                                }
                            },
                            {"data": "name"},
                            {"data": "file_type"},
                            {"data": "file_size"},
                            {"data": "dt_updated"},
                            {
                                "searchable": false,
                                "data": "id",
                                "mRender": function (data) {
                                    return '<a data-toggle="modal" data-param="' + data + '" data-toggle="tooltip" data-placement="top" title="Update" href="#update"><i class="align-middle material-icons md-22">mode_edit</i></a>';
                                }
                            },
                            {
                                "searchable": false,
                                "data": "id",
                                "mRender": function (data) {
                                    return '<a data-toggle="modal" data-param="' + data + '" data-toggle="tooltip" data-placement="top" title="Delete" href="#delete"><i class="align-middle material-icons md-22">remove_circle_outline</i></a>';
                                }
                            }
                        ],
                        "lengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, "All"]],
                        "order": [[0, "desc"]],
                        "columnDefs": [
                            {"orderable": false, "targets": [1, 6, 7]}
                        ],
                        "responsive": true,
                        "language": {
                            "decimal": "",
                            "emptyTable": "No data available in table",
                            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                            "infoEmpty": "Showing 0 to 0 of 0 entries",
                            "infoFiltered": "(filtered from _MAX_ total entries)",
                            "infoPostFix": "",
                            "thousands": ",",
                            "lengthMenu": "Show _MENU_ entries",
                            "loadingRecords": "Loading...",
                            "processing": "Processing...",
                            "search": "Search:",
                            "zeroRecords": "No matching records found",
                            "paginate": {
                                "first": "First",
                                "last": "Last",
                                "next": "Next",
                                "previous": "Previous"
                            },
                            "aria": {
                                "sortAscending": ": activate to sort column ascending",
                                "sortDescending": ": activate to sort column descending"
                            }
                        }
                    });
                },
                reloadList: function() {
                    $('#reload').on('click', function (e) {
                        $('#datatables-basic').DataTable().ajax.reload(null, true); // user paging will reset on reload				                                
                        e.preventDefault();
                    })
                }
            }

            // GET: Display by id
            let getById = {
                init: function() {
                    this.display();
                },
                display: function() {
                    $('#update').on('show.bs.modal', function (e) {
                        let el = $(this);

                        // Reset form
                        el.find('form').each(function() { this.reset() });
                        el.find('.form-control').removeClass('is-invalid');

                        let id = $(e.relatedTarget).data('param');
                        let data = el.serialize();

                        $.ajax({
                            url: baseURL + '/admin/media/medium/id/' + id,
                            type: 'GET',
                            dataType: 'json',
                            data: data,
                            cache: false,
                            processData: false,
                            beforeSend: function () {
                                el.find('#ajax-preloader').html(
                                    '<div class="loader">' +
                                    '  <svg class="circular" viewBox="25 25 50 50">' +
                                    '    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>' +
                                    '  </svg>' +
                                    '</div>').show();
                            },
                            complete: function () {
                                el.find('#ajax-preloader').html(
                                    '<div class="loader">' +
                                    '  <svg class="circular" viewBox="25 25 50 50">' +
                                    '    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>' +
                                    '  </svg>' +
                                    '</div>').hide('fast');
                            },
                            success: function (data) {
                                if (data) {
                                    // Populate form
                                    el.find('input:hidden[name="id"]').val(data.id);
                                    el.find('input[name="name"]').val(data.name);
                                    el.find('textarea[name="description"]').html(data.description);
                                    el.find('#img-placeholder').html('<img class="img-fluid mx-auto d-block" src="' + apiURL + '/' + data.full_path + '" alt="' + data.name + '" />');
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                console.log('The following error occurred: ' + textStatus, errorThrown);
                            }
                        });
                    });
                }
            }

            // POST: Add new
            let create = {
                init: function() {
                    this.bindForm();
                },
                bindForm: function () {
                    $('#create').on('show.bs.modal', this.submitForm(), function(){
                        // Reset form
                        $(this).find('form').each(function() { this.reset() });
                        $(this).find('.form-control').removeClass('is-invalid');
                        $(this).find('.form-control-file').removeClass('is-invalid');
                        $(this).find('#ajax-response').empty();
                        // Auto focus
                        $(this).on('shown.bs.modal', function(){
                            $(this).find('input[name="name"]').trigger('focus');
                        }) 
                    });
                },
                submitForm: function() {
                    // Prevent multiple ajax request
                    if (isProcessing) return;
                    isProcessing = true;

                    $('#create-form').on('submit', function(e){

                        let el = $(this);
                        let btn = el.find('.btn-change-state');
                        let data = new FormData(el[0]);

                        // For debugging.
                        for (var [key, value] of data.entries()) {
                            console.log(key, value);
                        }
                        
                        $.ajax({
                            url: baseURL + '/admin/media/create',
                            type: 'POST',
                            dataType: 'json',
                            data: data,
                            cache: false,
                            contentType: 'application/octet-stream',
                            processData: false,
                            beforeSend: function () {
                                el.find('#ajax-preloader').html(
                                    '<div class="loader">' +
                                    '  <svg class="circular" viewBox="25 25 50 50">' +
                                    '    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>' +
                                    '  </svg>' +
                                    '</div>').show();
                                btn.attr('disabled', 'disabled');
                            },
                            complete: function () {
                                el.find('#ajax-preloader').html(
                                    '<div class="loader">' +
                                    '  <svg class="circular" viewBox="25 25 50 50">' +
                                    '    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>' +
                                    '  </svg>' +
                                    '</div>').hide('fast');
                                btn.removeAttr('disabled');
                            },
                            success: function (data) {
                                if (data.status === true) {
                                    // Reload datatables
                                    $('#datatables-basic').DataTable().ajax.reload(null, false); // user paging is not reset on reload

                                    // Hide this modal
                                    $('#create').modal('hide');

                                    // Show and append notif msg  
                                    $('#notif').modal('show').find('.modal-body p').text('A new media has been uploaded');
                                    
                                    // Hide notif after (x) number of seconds 
                                    setTimeout(function(){ 
                                        $('#notif').modal('hide');
                                    }, 3000);
                                } else {
                                    // Error msg response
                                    el.find('#ajax-response').html('<div class="alert alert-danger"><ul>' + data.message + '</ul></div>');
                                    (Boolean(data.name)) ? el.find('#name').addClass('is-invalid') : el.find('#name').removeClass('is-invalid');  
                                    (Boolean(data.description)) ? el.find('#description').addClass('is-invalid') : el.find('#description').removeClass('is-invalid');
                                    (Boolean(data.userfile)) ? el.find('#userfile').addClass('is-invalid') : el.find('#userfile').removeClass('is-invalid');   
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                // For debugging
                                console.log('The following error occurred: ' + textStatus, errorThrown);
                            }
                        });
                        e.preventDefault();
                    });
                }
            }

            // PUT: Update
            let update = {
                init: function() {
                    this.bindForm();
                },
                bindForm: function () {
                    $('#update').on('show.bs.modal', this.submitForm(), function(){
                        // Reset form
                        $(this).find('form').each(function() { this.reset() });
                        $(this).find('.form-control').removeClass('is-invalid');
                        $(this).find('#ajax-response').empty();
                    });
                },
                submitForm: function() {
                    $('#update-form').on('submit', function(e){
                        let el = $(this);
                        let btn = el.find('.btn-change-state');
                        let id = el.find('input:hidden[name="id"]').val();
                        let data = el.serialize();
                    
                        $.ajax({
                            url: baseURL + '/admin/media/update/id/' + id,
                            type: 'PUT',
                            dataType: 'json',
                            data: data,
                            cache: false,
                            processData: false,
                            beforeSend: function () {
                                el.find('#ajax-preloader').html(
                                    '<div class="loader">' +
                                    '  <svg class="circular" viewBox="25 25 50 50">' +
                                    '    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>' +
                                    '  </svg>' +
                                    '</div>').show();
                                btn.attr('disabled', 'disabled');
                            },
                            complete: function () {
                                el.find('#ajax-preloader').html(
                                    '<div class="loader">' +
                                    '  <svg class="circular" viewBox="25 25 50 50">' +
                                    '    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>' +
                                    '  </svg>' +
                                    '</div>').hide('fast');
                                btn.removeAttr('disabled');
                            },
                            success: function (data) {
                                if (data.status === true) {
                                    // Reload datatables
                                    $('#datatables-basic').DataTable().ajax.reload(null, false); // user paging is not reset on reload

                                    // Hide this modal
                                    $('#update').modal('hide');

                                    // Show and append notif msg  
                                    $('#notif').modal('show').find('.modal-body p').text('Media #' + id + ' has been updated');
                                    
                                    // Hide notif after (x) number of seconds 
                                    setTimeout(function(){ 
                                        $('#notif').modal('hide');
                                    }, 3000);
                                } else {
                                    // Error msg response
                                    el.find('#ajax-response').html('<div class="alert alert-danger"><ul>' + data.message + '</ul></div>');
                                    (Boolean(data.name)) ? el.find('#name').addClass('is-invalid') : el.find('#name').removeClass('is-invalid');  
                                    (Boolean(data.description)) ? el.find('#description').addClass('is-invalid') : el.find('#description').removeClass('is-invalid'); 
                               }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                // For debugging
                                console.log('The following error occurred: ' + textStatus, errorThrown);
                            }
                        });
                        e.preventDefault();
                    });
                }
            }

            // PUT: Delete
            let softDelete = {
                init: function() {
                    this.bindForm();
                },
                bindForm: function () {
                    $('#delete').on('show.bs.modal', this.submitForm(), function(e){
                        $(this).find('input:hidden[name="id"]').val($(e.relatedTarget).data('param'));
                        $(this).find('.modal-body p').text('Are you sure you want to delete media #' + $(e.relatedTarget).data('param') + '?');
                    });
                },
                submitForm: function() {
                    $('#delete-form').on('submit', function(e){
                        let el = $(this);
                        let btn = el.find('.btn-change-state');
                        let id = el.find('input:hidden[name="id"]').val();
                        let data = el.serialize();
                    
                        $.ajax({
                            url: baseURL + '/admin/media/delete/id/' + id,
                            type: 'PUT',
                            dataType: 'json',
                            data: data,
                            cache: false,
                            processData: false,
                            beforeSend: function () {
                                el.find('#ajax-preloader').html(
                                    '<div class="loader">' +
                                    '  <svg class="circular" viewBox="25 25 50 50">' +
                                    '    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>' +
                                    '  </svg>' +
                                    '</div>').show();
                                btn.attr('disabled', 'disabled');
                            },
                            complete: function () {
                                el.find('#ajax-preloader').html(
                                    '<div class="loader">' +
                                    '  <svg class="circular" viewBox="25 25 50 50">' +
                                    '    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>' +
                                    '  </svg>' +
                                    '</div>').hide('fast');
                                btn.removeAttr('disabled');
                            },
                            success: function (data) {
                                if (data.status === true) {
                                    // Reload datatables
                                    $('#datatables-basic').DataTable().ajax.reload(null, false); // user paging is not reset on reload

                                    // Hide this modal
                                    $('#delete').modal('hide');

                                    // Show and append notif msg  
                                    $('#notif').modal('show').find('.modal-body p').text('Media #' + id + ' has been moved to trash');
                                    
                                    // Hide notif after (x) number of seconds 
                                    setTimeout(function(){ 
                                        $('#notif').modal('hide');
                                    }, 3000);
                                    
                                } else {
                                    // For debugging
                                    console.log(data.status);
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                // For debugging
                                console.log('The following error occurred: ' + textStatus, errorThrown);
                            }
                        });
                        e.preventDefault();
                    });
                }
            }

            getAll.init();
            getById.init();
            create.init();
            update.init();
            softDelete.init();
        })
    </script>
{% endblock %}