{#
    Filename    : posts.html.twig
    Location    : application/views/admin/posts.html.twig
    Purpose     : Posts partial page
    Created     : 07/03/2019 19:30:07 by Spiderman
    Updated     : 08/08/2019 16:48:37 by Spiderman
    Changes     : 
#}

{% extends 'admin/base.html.twig' %}
{% block title %} {{ page_title }} | Mount Carmel {% endblock %}

{% block contents %}
    <div class="row">
        <div id="media" class="col-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="clearfix">
                        <form class="form-inline float-right mt-1 d-none d-md-flex">
                            <a class="btn btn-brown mr-2" data-toggle="modal" href="#create">
                                <i class="align-middle" data-feather="plus"></i> Add New
                            </a>
                            <a id="reload" class="btn btn-brown" href="javascript:void(0)">
                                <i class="align-middle" data-feather="rotate-ccw"></i> Reload
                            </a>
                        </form>
                        <h3 class="card-title mb-2">{{ page_title }}</h3>
                        <h4 class="card-subtitle">{{ page_subtitle }}</h4>
                    </div>
                </div>
                <div class="card-body">
                    <table id="datatables__default" class="table" width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Posted on</th>
                                <th>Updated on</th>
                                <th>Author</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block createModalForm %}
    <form id="create-form">
        <div id="ajax-preloader"></div>
        <div class="modal-body px-5">
            <input type="hidden" name="content">
            <input type="hidden" name="media_id">
            <div class="form-group">
                <input type="text" class="form-control" id="title" name="title" value="{{ set_value('title') }}" placeholder="Post Title">
            </div>
            <div id="create-editor" class="mb-3">
                <!--  WYSIWYG editor -->
            </div>
            <div id="placeholder" class="mb-3">
                <!-- Image placeholder -->
                <img class="mx-auto d-block" style="max-height: 200px" src="{{ base_url('public/assets/images/companylogo.jpg') }}" alt="Image Placeholder" />
                <!-- This is where the image preview load -->
            </div>
            <div class="text-center">
                <a class="btn btn-sm btn-brown rounded-pill px-3" href="#gallery" data-toggle="modal"><i class="align-middle" data-feather="grid"></i> Media Gallery</a>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-lg btn-brown rounded-pill px-5 btn-change-state">Publish</button>
        </div>
    </form>
{% endblock %}

{% block updateModalForm %}
    <form id="update-form">
        <div id="ajax-preloader"></div>
        <div class="modal-body px-5">
            <input type="hidden" name="id">
            <input type="hidden" name="content">
            <input type="hidden" name="media_id">
            <div class="form-group">
                <input type="text" class="form-control" id="title" name="title" value="{{ set_value('title') }}" placeholder="Post Title">
            </div>
            <div id="update-editor" class="mb-3">
                <!--  WYSIWYG editor -->
            </div>
            <div id="placeholder" class="mb-3">
                <!-- This is where the image preview load -->
            </div>
            <div class="text-center">
                <a class="btn btn-sm btn-brown rounded-pill px-3" href="#gallery" data-toggle="modal"><i class="align-middle" data-feather="grid"></i> Media Gallery</a>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-lg btn-brown rounded-pill px-5 btn-change-state">Update</button>
        </div>
    </form>
{% endblock %}

{% block custom_scripts %}
    <script>
        $(function () {

            let baseURL = location.origin.toLowerCase() + '/mountcarmel.web';
            let apiURL = location.origin.toLowerCase() + '/mountcarmel.api';
            
            let isProcessing = false;

            // GET: Display all
            let getAll = {
                init: function() {
                    this.displayTable();
                    this.reloadTable();
                },
                displayTable: function() {
                    let table = $('#datatables__default').DataTable({
                        "processing": true,
                        "serverSide": false,
                        "responsive": true,
                        "ajax": {
                            "url": baseURL + "/admin/posts/posts",
                            "type": "GET"
                        },
                        "columns": [
                            {
                                "searchable": false,
                                "data": "id"
                            },
                            {"data": "title"},
                            {
                                "data": "posted_on",
                                "mRender": function (data) {
                                    return moment(data).format('lll')
                                }
                            },
                            {
                                "data": "updated_on",
                                "mRender": function (data) {
                                    return moment(data).format('lll')
                                }
                            },
                            {"data": "author"},
                            {
                                "searchable": false,
                                "data": "id",
                                "mRender": function (data) {
                                    return '<a href="#update" data-toggle="modal" data-id="' + data + '" data-toggle="tooltip" data-placement="top" title="Update"><i class="align-middle material-icons md-22">mode_edit</i></a>';
                                }
                            },
                            {
                                "searchable": false,
                                "data": "id",
                                "mRender": function (data) {
                                    return '<a href="#delete" data-toggle="modal" data-id="' + data + '" data-toggle="tooltip" data-placement="top" title="Delete"><i class="align-middle material-icons md-22">remove_circle_outline</i></a>';
                                }
                            }
                        ],
                        "lengthMenu": [[10, 25, 50, 75, 100], [10, 25, 50, 75, 100]],
                        "order": [[0, "desc"]],
                        "columnDefs": [
                            {"orderable": false, "targets": [5, 6]}
                        ]
                    });
                },
                reloadTable: function() {
                    $('#reload').on('click', function (e) {
                        $('#datatables__default').DataTable().ajax.reload(null, true); // user paging will reset on reload				                                
                        e.preventDefault();
                    })
                }
            }

            // GET: Display by id
            let getById = {
                init: function() {
                    this.resetForm();
                    this.displayForm();
                },
                resetForm: function() {
                    $('#update').on('hidden.bs.modal', function(){
                        $(this).find('form')[0].reset();
                        $(this).find('.form-control').removeClass('is-invalid');
                        $(this).find('#ajax-response').empty();
                    });
                },
                displayForm: function() {
                    $('#update').on('show.bs.modal', function (e) {
                        
                        let _this = $(this);
                        
                        // Set data-id attr
                        let id = $(e.relatedTarget).attr('data-id');

                        // If id is null, set data-id attr from body instead
                        if (id == null) id = $('body').attr('data-id');

                        let jqXHR = $.ajax({
                            url: baseURL + '/admin/posts/post/id/' + id,
                            type: 'GET',
                            dataType: 'json',
                            data: _this.serialize(),
                            cache: false,
                            processData: false,
                            beforeSend: function () {
                                _this.find('#ajax-preloader').preloader().show();
                            }
                        });

                        jqXHR.done(function (data) {
                            if (data) {
                                // Populate form
                                 $('body').attr('data-id', data.id);
                                _this.find('input:hidden[name="id"]').val(data.id);
                                _this.find('input[name="title"]').val(data.title);
                                _this.find('.ql-editor').html(data.content);
                                
                                if($('body').attr('data-media-id') == null) {
                                    _this.find('input:hidden[name="media_id"]').val(data.media_id); 
                                }

                                // Get media by id with data-media-id attr as id paramater
                                $.get(apiURL + '/media/medium/id/' + _this.find('input:hidden[name="media_id"]').val(), function(data) {
                                    _this.find('#placeholder').replaceWith(
                                        '<div id="placeholder" class="mb-3">' +
                                        '   <img class="mx-auto d-block" style="max-height: 200px" src="' + apiURL + '/' + data.full_path + '" alt="' + data.name + '" />' +
                                        '</div>');
                                });
                            }
                        });

                        jqXHR.always(function () {
                            _this.find('#ajax-preloader').preloader().hide();
                        });

                        jqXHR.fail(function (jqXHR, textStatus, errorThrown) {
                            console.log('The following error occurred: ' + textStatus, errorThrown);
                        });
                    });
                }
            }

            // POST: Add new
            let create = {
                init: function() {
                    this.resetForm();
                    this.autoFocus();
                    this.bindForm();
                },
                resetForm: function() {
                    $('#create').on('hidden.bs.modal', function(){

                        let _this = $(this);

                        _this.find('form')[0].reset();
                        _this.find('.form-control').removeClass('is-invalid');
                        _this.find('#create-editor').css({'border-color':'#ccc', 'border-top':'none'}); 
                        _this.find('input:hidden[name="content"]').val();
                        _this.find('.ql-editor').empty();
                    });
                },
                autoFocus: function() {
                    $('#create').on('shown.bs.modal', function(){
                        $(this).find('input[name="title"]').trigger('focus');
                    });
                },
                bindForm: function () {
                    $('#create').on('show.bs.modal', this.submitForm());
                },
                submitForm: function() {
                    
                    // Initialize quill
                    let quill = new Quill('#create-editor', {
                        modules: { 
                            toolbar: [
                                [
                                    'bold', 'italic', 'underline', 'strike', 'link', {'list': 'ordered'}, {'list': 'bullet'}, 'blockquote', 'image', 'video', 'clean'
                                ]
                            ] 
                        },
                        theme: 'snow',
                        placeholder: 'Compose here'
                    });

                    // Prevent multiple ajax request
                    if (isProcessing) return;
                    isProcessing = true;

                    $('#create-form').on('submit', function(e){

                        let _this = $(this);
                        let content = _this.find('input:hidden[name="content"]').val(quill.root.innerHTML);

                        let jqXHR = $.ajax({
                            url: baseURL + '/admin/posts/create',
                            type: 'POST',
                            dataType: 'json',
                            data: _this.serialize(),
                            cache: false,
                            processData: false,
                            beforeSend: function () {
                                _this.find('#ajax-preloader').preloader().show();
                                _this.find('.btn-change-state').attr('disabled', 'disabled');
                            }
                        });

                        jqXHR.done(function (data) {
                            if (data.status === true) {
                                // Reload datatables
                                $('#datatables__default').DataTable().ajax.reload(null, false); // user paging is not reset on reload

                                // Hide this modal
                                $('#create').modal('hide');

                                // Show and append notif msg  
                                $('#notif').modal('show').find('.modal-body p').text('A new post has been published');
                                    
                                // Hide notif after (x) number of seconds 
                                setTimeout(function(){ 
                                    $('#notif').modal('hide');
                                }, 3000);
                            } else {
                                // Error msg response
                                (Boolean(data.title)) ? _this.find('#title').addClass('is-invalid') : _this.find('#title').removeClass('is-invalid');
                                (quill.editor.isBlank()) ? _this.find('#create-editor').css({'border':'1px solid #f00'}) : _this.find('#create-editor').css({'border-color':'#ccc', 'border-top':'none'});                
                            }
                        });

                        jqXHR.always(function () {
                            _this.find('#ajax-preloader').preloader().hide();
                            _this.find('.btn-change-state').removeAttr('disabled');
                        });

                        jqXHR.fail(function (jqXHR, textStatus, errorThrown) {
                            console.log('The following error occurred: ' + textStatus, errorThrown);
                        });

                        e.preventDefault();
                    });
                }
            }

            // PUT: Update
            let update = {
                init: function() {
                    this.bindForm();
                },
                bindForm: function () {
                    $('#update').on('show.bs.modal', this.submitForm());
                },
                submitForm: function() {

                    // Initialize quill
                    let quill = new Quill('#update-editor', {
                        modules: { 
                            toolbar: [
                                [
                                    'bold', 'italic', 'underline', 'strike', 'link', {'list': 'ordered'}, {'list': 'bullet'}, 'blockquote', 'image', 'video', 'clean'
                                ]
                            ] 
                        },
                        theme: 'snow',
                        placeholder: 'Compose here'
                    });

                    $('#update-form').on('submit', function(e){
                        
                        let _this = $(this);
                        let id = _this.find('input:hidden[name="id"]').val();
                        let content = _this.find('input:hidden[name="content"]').val(quill.root.innerHTML);
                    
                        let jqXHR = $.ajax({
                            url: baseURL + '/admin/posts/update/id/' + id,
                            type: 'PUT',
                            dataType: 'json',
                            data: _this.serialize(),
                            cache: false,
                            processData: false,
                            beforeSend: function () {
                                _this.find('#ajax-preloader').preloader().show();
                                _this.find('.btn-change-state').attr('disabled', 'disabled');
                            }
                        });

                        jqXHR.done(function (data) {
                            if (data.status === true) {
                                // Reload datatables
                                $('#datatables__default').DataTable().ajax.reload(null, false); // user paging is not reset on reload

                                // Hide this modal
                                $('#update').modal('hide');

                                // Show and append notif msg  
                                $('#notif').modal('show').find('.modal-body p').text('Post #' + id + ' has been updated');
                                    
                                // Hide notif after (x) number of seconds 
                                setTimeout(function(){ 
                                        $('#notif').modal('hide');
                                }, 3000);
                            } else {
                                // Error msg response
                                (Boolean(data.title)) ? _this.find('#title').addClass('is-invalid') : _this.find('#title').removeClass('is-invalid');
                                (quill.editor.isBlank()) ? _this.find('#update-editor').css({'border':'1px solid #f00'}) : _this.find('#update-editor').css({'border-color':'#ccc'});   
                            }
                        });

                        jqXHR.always(function () {
                            _this.find('#ajax-preloader').preloader().hide();
                            _this.find('.btn-change-state').removeAttr('disabled');
                        });

                        jqXHR.fail(function (jqXHR, textStatus, errorThrown) {
                            console.log('The following error occurred: ' + textStatus, errorThrown);
                        });

                        e.preventDefault();
                    });
                }
            }

            // PUT: Delete
            let softDelete = {
                init: function() {
                    this.bindForm();
                },
                bindForm: function () {
                    $('#delete').on('show.bs.modal', this.submitForm(), function(e){
                        $(this).find('input:hidden[name="id"]').val($(e.relatedTarget).attr('data-id'));
                        $(this).find('.modal-body p').text('Are you sure you want to delete post #' + $(e.relatedTarget).attr('data-id') + '?');
                    });
                },
                submitForm: function() {
                    $('#delete-form').on('submit', function(e){
                        
                        let _this = $(this);
                        let id = _this.find('input:hidden[name="id"]').val();
                        
                        let jqXHR = $.ajax({
                            url: baseURL + '/admin/posts/delete/id/' + id,
                            type: 'PUT',
                            dataType: 'json',
                            data: _this.serialize(),
                            cache: false,
                            processData: false,
                            beforeSend: function () {
                                _this.find('#ajax-preloader').preloader().show();
                                _this.find('.btn-change-state').attr('disabled', 'disabled');
                            }
                        });

                        jqXHR.done(function (data) {
                            if (data.status === true) {
                                // Reload datatables
                                $('#datatables__default').DataTable().ajax.reload(null, false); // user paging is not reset on reload

                                // Hide this modal
                                $('#delete').modal('hide');

                                // Show and append notif msg  
                                $('#notif').modal('show').find('.modal-body p').text('Post #' + id + ' has been moved to trash');
                                    
                                // Hide notif after (x) number of seconds 
                                setTimeout(function(){ 
                                    $('#notif').modal('hide');
                                }, 3000);
                                    
                            } else {
                                // For debugging
                                console.log(data.status);
                            }
                        });

                        jqXHR.always(function () {
                            _this.find('#ajax-preloader').preloader().hide();
                            _this.find('.btn-change-state').removeAttr('disabled');
                        });

                        jqXHR.fail(function (jqXHR, textStatus, errorThrown) {
                            console.log('The following error occurred: ' + textStatus, errorThrown);
                        });

                        e.preventDefault();
                    });
                }
            }

            getAll.init();
            getById.init();
            create.init();
            update.init();
            softDelete.init();
        })
    </script>
{% endblock %}