{#
    File      : views/home/news.html.twig
    Purpose   : home/news view
    Created   : 6/03/2019 by Sherlock Holmes
    Updated   : 6/13/2019 by Constantina
    Changes   : Update news, migrate to new framework
#}

{% extends 'base.html.twig' %}
{% block title %} {{ page_title }} | Mount Carmel {% endblock %}
{% block contents %}
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-body">

                    <div class="media">

                        <div class="media-body">
                            <small class="float-right text-navy">5m ago</small>

                            <div class="media-title">
                                <p class="text-center mb-0">
                                    <a href="#" target="_blank">Official Web and Mobile App</a>
                                </p>
                            </div>

                            <div class="media-article">
                                <div class="cover-photo">
                                    <img src="{{ base_url('public/assets/img/photos/2.jpg') }}" class="img-fluid" alt="Unsplash">
                                </div>
                                <div class="media-content p-0">
                                    <p class="text-justify">
                                        We have released the new official web and mobile applications of Minor Basilica of the National Shrine of Our Lady of Mount Carmel, located at 90 4th Street, New Manila, Quezon City, Philippines.
                                    </p>
                                    <p class="text-justify">
                                        Our vision for the new system will help the church improve its security, sustainability, and efficiency.
                                    </p>
                                </div>
                            </div>

                            <div class="read-more">
                                <p class="text-center mb-0">
                                    <a class="btn btn-lg btn-brown rounded-pill px-5" href="news-details">Read More</a>
                                </p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title text-center">Powered By</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 mb-4 text-center">
                            <img class="img-fluid" src="{{ base_url('public/assets/img/brands/companylogo.jpg') }}" alt="Company Logo"/>
                        </div>
                        <div class="col-12 mb-4 text-center">
                            <img class="img-fluid" src="{{ base_url('public/assets/img/brands/companylogo.jpg') }}" alt="Company Logo"/>
                        </div>
                        <div class="col-12 mb-4 text-center">
                            <img class="img-fluid" src="{{ base_url('public/assets/img/brands/companylogo.jpg') }}" alt="Company Logo"/>
                        </div>
                        <div class="col-12 text-center">
                            <img class="img-fluid" src="{{ base_url('public/assets/img/brands/companylogo.jpg') }}" alt="Company Logo"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}