{#
    File      : views/home/news.html.twig
    Purpose   : home/news view
    Created   : 6/03/2019 by Sherlock Holmes
    Updated   : 6/13/2019 by Joan
    Changes   : Update news, migrate to new framework
#}

{% extends 'base.html.twig' %}
{% block title %} {{ page_title }} | Mount Carmel {% endblock %}
{% block contents %}
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-body">

                    <div class="media">

                        <div class="media-body">
                            <small class="float-right text-navy">5m ago</small>

                            <div class="media-title">
                                <p class="text-center mb-0">
                                    <a href="#" target="_blank">Official Web and Mobile App</a>
                                </p>
                            </div>

                            <div class="media-article">
                                <div class="cover-photo">
                                    <img src="{{ base_url('public/assets/img/photos/2.jpg') }}" class="img-fluid" alt="Unsplash">
                                </div>
                                <div class="media-content p-0">
                                    <p class="text-justify">
                                        We have released the new official web and mobile applications of Minor Basilica of the National Shrine of Our Lady of Mount Carmel, located at 90 4th Street, New Manila, Quezon City, Philippines.
                                    </p>
                                    <p class="text-justify">
                                        Our vision for the new system will help the church improve its security, sustainability, and efficiency.
                                    </p>
                                    <p class="text-justify">
                                        We have seen massive loopholes in the old system, that is undoubtedly been exploited by countless people.
                                    </p>
                                    <p class="text-justify">
                                        We have automated the old system to remove the presence of human resources as middlemen in every transaction, such as donations and services. In result, it ceases theft and temptations from employees and other people. Despite the innumerable security measures that we have installed, the system can also identify thieves and unscrupulous transactions, should there be any.
                                    </p>
                                    <p class="text-justify">
                                        The Pope demands the church to loosen up from asking donations from people. We have designed a plan called the Progressive Leap Strategy that requires zero donations.
                                    </p>
                                    <p class="text-justify">
                                        To achieve a self-sustaining technology, we have monetized the platform to build and expand the system. We have placed a number of ad placements in the applications, aiming to produce a platform without asking for any donations. Eventually, the system will lessen the monetary help needed by the church.
                                    </p>
                                    <p class="text-justify">
                                        This approach will aggressively expand the system throughout Mount Carmel Churches in the Philippines, in parallel with the improvement of the system by adding more features and upgrading the overall performance of the application.
                                    </p>
                                    <p class="text-justify">
                                        The Catholic Church ought to focus on the next generation of Christians, the survival of Catholicism is highly dependent on the new generation than of the previous. Adapting to the information age is a great way of reaching out to the young ones, being available to anyone, anytime and anywhere.
                                    </p>
                                    <p class="text-justify">
                                        This platform will serve as a tool to secure transactions, promote efficiency and preserve Christianity.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title text-center">Powered By</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 mb-4 text-center">
                            <img class="img-fluid" src="{{ base_url('public/assets/img/brands/companylogo.jpg') }}" alt="Company Logo"/>
                        </div>
                        <div class="col-12 mb-4 text-center">
                            <img class="img-fluid" src="{{ base_url('public/assets/img/brands/companylogo.jpg') }}" alt="Company Logo"/>
                        </div>
                        <div class="col-12 mb-4 text-center">
                            <img class="img-fluid" src="{{ base_url('public/assets/img/brands/companylogo.jpg') }}" alt="Company Logo"/>
                        </div>
                        <div class="col-12 text-center">
                            <img class="img-fluid" src="{{ base_url('public/assets/img/brands/companylogo.jpg') }}" alt="Company Logo"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}