{#
    Filename    : base.html.twig
    Location    : application/views/base.html.twig
    Purpose     : Base template
    Created     : 6/03/2019 by Sherlock Holmes
    Updated     : 6/27/2019 by Sherlock Holmes
    Changes     : Changed commenting format
#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Mount Carmel System">
    <meta name="author" content="Bicol Research">
    <title>{% block title %}Mount Carmel{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ base_url('public/assets/css/style.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
<div class="wrapper">
    {% block sidebar %}
        <nav class="sidebar sidebar-sticky">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="{{ base_url('home') }}">
                    <div class="logo">
                        <img src="{{ base_url('public/assets/img/brands/mount-carmel-logo.svg') }}" alt="Mount Carmel Logo"/>
                    </div>
                    <div class="logo-text">
                        <div class="title">Mount Carmel</div>
                        <div class="address">Quezon City, Philippines</div>
                    </div>
                </a>
                <ul class="sidebar-nav">
                    <li class="sidebar-item active">
                        <a href="#home" data-toggle="collapse" class="sidebar-link collapsed">
                            <i class="align-middle icon-home icon-18"></i> <span class="align-middle">Home</span>
                        </a>
                        <ul id="home" class="sidebar-dropdown list-unstyled collapse">
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('news') }}">News &amp; Updates</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('calendar') }}">Calendar</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('live-mass') }}">Live Mass</a></li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{{ base_url('help') }}">
                            <i class="align-middle icon-sendhelp icon-18"></i> <span class="align-middle">Send Help</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#services" data-toggle="collapse" class="sidebar-link collapsed">
                            <i class="align-middle icon-services icon-18"></i> <span class="align-middle">Services</span>
                        </a>
                        <ul id="services" class="sidebar-dropdown list-unstyled collapse">
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('join-us') }}">Join Us!</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('request') }}">Make a Request</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('baptism') }}">Baptism</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('communion') }}">Communion</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('confirmation') }}">Confirmation</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('marriage') }}">Marriage</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('passing') }}">Passing</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('events') }}">Events</a></li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{{ base_url('transparency') }}">
                            <i class="align-middle icon-transparency icon-18"></i> <span class="align-middle">Transparency</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{{ base_url('transactions') }}">
                            <i class="align-middle icon-mytransactions icon-18"></i> <span class="align-middle">My Transactions</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#management" data-toggle="collapse" class="sidebar-link collapsed">
                            <i class="align-middle icon-management icon-18"></i> <span class="align-middle">Management</span>
                        </a>
                        <ul id="management" class="sidebar-dropdown list-unstyled collapse">
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('requests') }}">Request</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('my-schedule') }}">My Schedule</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('prayer-request') }}">Prayer Requests</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('mass-request') }}">Mass Requests</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('post-news') }}">Post News</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('add-project') }}">Add Project</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('add-transaction') }}">Add Transaction</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('collective-schedule') }}">Collective Schedule</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('service-schedule') }}">Service Schedule</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('donations-report') }}">Donations Report</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('edit-news') }}">Edit News</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('live-stream') }}">Live Stream</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('edit-project') }}">Edit Project</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('edit-transaction') }}">Edit Transaction</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('add-schedule') }}">Add Schedule</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('my-availability') }}">My Availability</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('user-roles') }}">User Roles</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('splash-ads') }}">Splash Ads</a></li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a href="#basilica" data-toggle="collapse" class="sidebar-link collapsed">
                            <i class="align-middle icon-logo icon-18"></i> <span class="align-middle">Basilica</span>
                        </a>
                        <ul id="basilica" class="sidebar-dropdown list-unstyled collapse">
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('mass-schedule') }}">Mass Schedule</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('location-map') }}">Location Map</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('carmelite-priests') }}">Carmelite Priests</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('contact-details') }}">Contact Details</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{{ base_url('history-details') }}">History</a></li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{{ base_url('bible') }}">
                            <i class="align-middle icon-bible icon-18"></i> <span class="align-middle">Holy Bible</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    {% endblock %}
    <div class="main">
        {% block navbar %}
            <nav class="navbar navbar-expand navbar-light bg-white">
                <a class="sidebar-toggle d-flex mr-2">
                    <i class="hamburger align-self-center"></i>
                </a>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle mr-0 pr-0" href="javascript:void(0)" data-toggle="dropdown">
                                <img src="{{ base_url('public/assets/img/avatars/profile.svg') }}" class="avatar img-fluid rounded-circle mr-1" alt="Profile"/>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#createAccountModal">New Account</a>
                                <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#loginModal">Login</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        {% endblock %}
        <main class="content">
            <div class="container-fluid p-0">
                {% block contents %}
                    {# load content here #}
                {% endblock %}
            </div>
        </main>
    </div>
</div>

{% block login %}
    <div class="modal fade" id="loginModal" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="loginModalTitle">Login</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <form>
                    <div id="ajax-preloader"></div>
                    <div class="modal-body px-5">
                        <div class="logo text-center mb-4">
                            <img src="{{ base_url('public/assets/img/brands/mount-carmel-logo.svg') }}" alt="Mount Carmel Logo"/>
                        </div>
                        <div id="ajax-response"></div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" name="email" value="{{ set_value('email') }}" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" value="{{ set_value('password') }}" placeholder="Password">
                        </div>
                        <a href="javascript:void(0);" target="_blank">Forgot password?</a> <a class="float-right" href="javascript:void(0);" target="_blank">Create an Account</a>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-lg btn-brown rounded-pill px-5" id="btn-change-state">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ base_url('public/assets/js/app.js') }}"></script>
    <script src="{{ base_url('public/assets/js/pace.min.js') }}"></script>
    <script>
        $(function () {
            let baseURL = '{{ base_url() }}';

            // POST: Login
            let logIn = {
                init: function () {
                    this.bindFunction();
                },
                resetForm: function () {
                    let el = $('form');
                    el.find('.form-control').removeClass('is-invalid');
                },
                bindFunction: function () {
                    $('#loginModal').on('show.bs.modal', this.submitForm());
                },
                submitForm: function () {
                    $('form').on('submit', function (e) {
                        let el = $(this);
                        let btn = el.find('#btn-change-state');
                        let data = el.serialize();

                        $.ajax({
                            url: baseURL + '/auth/login_ajax',
                            type: 'POST',
                            dataType: 'json',
                            data: data,
                            cache: false,
                            processData: false,
                            beforeSend: function () {
                                el.find('#ajax-preloader').html(
                                    '<div class="loader">' +
                                    '  <svg class="circular" viewBox="25 25 50 50">' +
                                    '    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>' +
                                    '  </svg>' +
                                    '</div>').show();
                                btn.attr('disabled', 'disabled');
                            },
                            complete: function () {
                                el.find('#ajax-preloader').html(
                                    '<div class="loader">' +
                                    '  <svg class="circular" viewBox="25 25 50 50">' +
                                    '    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>' +
                                    '  </svg>' +
                                    '</div>').hide('fast');
                                btn.removeAttr('disabled');
                            },
                            success: function (data) {
                                if (data.status === true) {
                                    logIn.resetForm();
                                    window.location.replace(baseURL + '/auth');
                                } else {
                                    // Error msg response
                                    $('#ajax-response').html('<div class="alert alert-danger"><ul>' + data.response + '</ul></div>');
                                    (Boolean(data.email)) ? el.find('#email').addClass('is-invalid') : el.find('#email').removeClass('is-invalid');
                                    (Boolean(data.password)) ? el.find('#password').addClass('is-invalid') : el.find('#password').removeClass('is-invalid');
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                // For debugging
                                console.log('The following error occurred: ' + textStatus, errorThrown);
                            }
                        });
                        e.preventDefault();
                    });
                }
            };

            let methods = {
                init: function () {
                    this.activeList();
                },
                activeList: function () {
                    let str = location.href.toLowerCase();
                    $('.sidebar-nav li a').each(function () {
                        if (str.indexOf(this.href.toLowerCase()) > -1) {
                            $('.sidebar-nav li.active').removeClass('active');
                            $(this).parent().addClass("active");
                        }
                    });
                    $('.sidebar-nav li.active').parents().each(function () {
                        if ($(this).is('li')) {
                            $(this).addClass('active');
                        }
                    });
                }
            };

            logIn.init();
            methods.init();
        })
    </script>
{% endblock %}

{% block custom_scripts %}
{% endblock %}
</body>
</html>